<div class="social-media-feed">
<h1>Geshmoigedy the Googus</h1>
  <p>Sure. That and a pair of testicles. I'm as Jewish as fucking Tevye. I mean his wife goes out and owes money and they pee on my rug. Yeah man. Well, you know, the Dude abides. Since you have failed to achieve, even in the modest task that was your charge, since you have stolen my money, and since you have unrepentantly betrayed my trust. That wasn't her toe.</p>

  <p>Do you like sex, Mr. Lebowski? I know my rights. Little Lebowski Urban Achievers, yes, and proud we are of all of them. Come and get it. Fucking nihilist. No ma'am, I didn't mean to give the impression that we're police exactly. We're hoping that it will not be necessary to call the police. I've seen a lot of spinals, Dude, and this guy is a fake. A fucking goldbricker.</p>

  <p>Dieter doesn't care about anything. He's a nihilist. Okay, Jackie, done. I like the way you do business. Your money is being held by a kid named Larry Sellers. He lives in North Hollywood, on Radford, near the In-and-Out Burger. A real fuckin' brat, but I'm sure. She's gotta feed the monkey, I mean —hasn't that ever occurred to you, Sir? She's not my special lady, she's my fucking lady friend. I'm just helping her conceive, man!</p>
</div>