<%= render partial: "post_map" %>
<div id="page-wrap">
  <div class="home-row-2">
    <a class="map-link" href="/big-map">Bigger Map<span></span></a>
    <div class="home-content">
      <%= raw(@page.content_for(:body)) %>
    </div>
    <%= render partial: "slideshow" %>
  </div>
  <div class="googus"></div>
</div>
