<%= render partial: "post_map" %>
<div class="feeds">
  <a class="map-link" href="/big_map">Bigger Map<span></span></a>
  <%= render partial: "social_media_feed" %>
  <%= render partial: "slideshow" %>
</div>
<%= render '/refinery/content_page' %>



