<div id="page-wrap" class="rows">
  <div class="row1">
    <%= raw(@page.content_for(:body)) %>
  </div>

  <div class="row2">
    <%= raw(@page.content_for(:row_two)) %>
  </div>

  <div class="row3">
    <%= raw(@page.content_for(:row_three)) %>
  </div>

  <div class="googus"></div>
</div>
