#blog-page{
  #body_content_title{display:none;}
  #body_content{
    max-width:1000px;
    margin:0 auto;
    padding:60px 10px 10px 10px;
  }

  #body{
    width:66%;
    float:left;
  }
  #side_body{
    width:33%;
    float:right;
    padding: 20px 5%;
    background:#fff;
  }

  .blog_post{
    padding:10px 0;
    border-bottom: 1px solid #000;
    footer{ text-align:left; }
  }
  .details{ font-weight:bold; }
  img.avatar{ display:none; }

  #show_blog_post nav{font-weight:bold;}

  #comments{
    padding:2em 0;
    border-top:1px solid #000; 
    .field{
      padding:10px 0;
      label{ display:block; }
      input{ display:block; height:3em; width:250px; max-width:100%; }
      textarea{ display:block; height:300px; width:400px; max-width:100%; }
      input[type='submit']{
        width:150px;
        background:green;
        color:#fff;
        border:none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        &:hover{ opacity:0.7; cursor:pointer; }
      }
    }
  }
}

@media #{$tablet-break} {
  #blog-page{
    #body{
      width:100%;
      float:left;
    }
    #side_body{
      width:100%;
      float:right;
    }
  } 
}