#header{
  position:absolute;
  width:100%;
  z-index:999;
  padding:0 10%;
  
  h1{
    font-family: 'Brush Script MT', cursive;
    font-size:30px;
    /*font-weight:bold;*/
    width:50%;
    float:left;
    a{ color:#fff; }
  }

  div.head-wrap::after {
    content: "";
    background:#888;
    opacity: 0.8;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }

  .menu-toggle{
    float:right;
    position:relative;
    width:118px;
    max-width:50%;
    padding:10px;
    cursor: pointer;
    h3{color:#fff; font-size:20px; font-weight:bold; float:left; width:45%; padding:5px 0;}
    span{
      display:block;
      float:right;
      clear:right;
      background:#fff;
      border-radius:2px;
      width:45%;
      height:5px;
      margin:2px 0;
    }
  }

  nav.menu{
    width:50%;
    position:absolute;
    top:45px; right:5px;
    text-align:center;
    clear:both;
    ul{
      list-style-type:none;
      border-bottom:1px solid #000;
    }
    li{
      border-top:1px solid #000;
      border-left:1px solid #000;
      border-right:1px solid #000;
      a{
        display:block; 
        padding:9px 0;
        width:100%;
        text-decoration:none;
        background:#fff;
        &:hover{
          background:#888;
          color:#fff;
        }
      }
    }

    display:none;
  }
}

@media #{$tablet-break} {
  #header nav.menu{width:80%;}
  #header h1{font-size:22px;}
}

@media #{$phone-break} {
  #header{ padding:0 3%; }
  #header h1{ width: 60%; }
  #header .menu-toggle{ width: 105px; }
  .menu-toggle{ max-width:30%; }
  .menu-toggle h3 { display:none; }
}
