#map-canvas{
  position:relative;
  height:400px;
  width:100%;
  div img{display:block; border-radius:5px;}
}

.map-info-window{
  text-align:center;
  position:relative;
  max-width:220px;
  img{width:200px; display:block; margin:0 auto;}
  .photo-caption{padding:5px 3px; font-weight:bold;}
}

#big-map-page{
  #page, #map-canvas{ max-width:100%; height:400px; padding:0;}
}

@media #{$tablet-break} {
  #map-canvas{height:350px;}
  .map-info-window{
    max-width:180px;
    img{width:100%;}
  }
}