<h3>WWWWWWWWWWWWWW _footer.html.erb WWWWWWWWWWWWWWW</h3>
<p>
  <%= t('.copyright', :year => Time.now.year,
                      :site_name => Refinery::Core.site_name) %>
</p>
<h3>WWWWWWWWWWWWWW _footer.html.erb WWWWWWWWWWWWWWW</h3>
