<div class="head-wrap">
  <h1 id='logo'>
    <%= link_to "S/V Rhythm", refinery.root_path %>
  </h1>
  <div class="menu-toggle">
    <h3>MENU</h3>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <%= Refinery::Pages::MenuPresenter.new(refinery_menu_pages, self).to_html %>
</div>
